.parent{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* justify-content: center;  row wise */
    /* justify-content: end; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */

    /* align-items:flex-start ; colum wise */

}
.box{
    width: 150px;
    height: 150px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}